<header>
  <div class="container">
      <h1>Hello World!</h1>
  </div>
</header>

<div class="container">
  <p>Type : {{ Home.token.token_type }}</p>
  <p>Token : {{ Home.token.access_token }}</p>
  <p>Response : {{ Home.message }}</p>
  <div class="form-group">
    <button class="primary btn btn-large" ng-click="Home.askToken()">Auth!</button>
    <br>
    <input class="form-control" type="text" name="name" ng-model="Home.messageInput">
    <br>
    <button class="primary btn btn-large" ng-click="Home.updateMessage()">Send!</button>
  </div>
</div>

<div class="container">
  <pre>
    {{ Home.values | json }}
  </pre>

  <div class="value-pair">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
            Key:
            <input ng-model="Home.key" type="text" class="form-control">
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group">
          <div class="form-group">
              Value:
              <input ng-model="Home.value" type="text" class="form-control">
          </div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>

    <button class="pribary btn btn-large" ng-click="Home.clickSetPair(Home.key, Home.value)">Set Pair</button>
  </div>

  
    <p>Navigation: <a href="/events">Events</a></p>
</div>
